{% extends 'base.html' %}
{% block content %}
     <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Change Password</h1>
                    </div>
                    <div class="row">
                        <div class="container" align="center">
                            <form method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" name="changePass" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
     </div>
{% endblock %}